---
import type { AstroComponentFactory } from "astro/types";
import WebIcon from "../icons/Web.astro";

interface Props {
    company: string;
    location: string;
    position: string;
    details: AstroComponentFactory[];
    date: string;
    url?: string;
}

const { company, location, position, details, date, url } = Astro.props;
---

<li class="my-10 last:mb-0 me-10 flex items-center">
    <span
        class="absolute flex items-center justify-center w-8 h-8 bg-blue-400 rounded-full -end-4 p-0.5 ring-2 ring-black dark:ring-gray-900 dark:bg-gray-700 shadow-lg nice-shadow"
    >
        <slot name="icon" />
    </span>
    <div
        class="border-black border-2 rounded-xl py-5 bg-[#FCD7D7] flex flex-col px-6 nice-shadow shadow-lg w-full"
    >
        <div class="flex justify-between items-center">
            <h3 class="text-xl font-extrabold">
                <p class="text-3xl">{company}</p>
                <p class="text-lg text-blue-400">{date}</p>
                <p class="text-[#FF6B6B] text-lg">{location} | {position}</p>
            </h3>
            {
                url && (
                    <a
                        href={url}
                        target="_blank"
                        class="text-center p-1 nice-shadow nice-shadow-hoverable shadow-lg rounded-full border-2 border-black text-sm font-light bg-[#FF6B6B]"
                    >
                        <WebIcon class="size-7" />
                    </a>
                )
            }
        </div>
        <hr class="border-black my-2 w-full" />
        <div
            class="flex flex-col p-3 nice-shadow shadow-lg border-2 border-black font-extrabold bg-[#161616]"
        >
            <p class="text-lg text-white mb-4">Technologies used:</p>
            <div class="flex items-center gap-x-4 w-full">
                {details.map((Icon) => <Icon class="size-8" />)}
            </div>
        </div>
    </div>
</li>
