---
import TimelineItem from "./TimelineItem.astro";
import {
    BetterflyIcon,
    UberIcon,
    CornershopIcon,
    CompanyDefaultIcon,
    PhpIcon,
    GitIcon,
    TrelloIcon,
    ReactIcon,
    FigmaIcon,
    JiraIcon,
    RubyIcon,
    LaravelIcon,
    DockerIcon,
    PostgresIcon,
    JavaIcon,
    SpringIcon,
    MariaDBIcon,
    ZendIcon,
    MySQLIcon,
    PowerBIIcon,
    CSharpIcon,
    DotNetCoreIcon,
    AngularIcon,
    OracleIcon,
    BitBucketIcon,
} from "@icons/index.astro";

const EXPERIENCE = [
    {
        company: "Betterfly",
        date: "January 2024 - Now",
        location: "Santiago, Chile",
        position: "Full-stack engineer",
        details: [
            {
                Icon: PhpIcon,
                tooltip: "PHP",
            },

            {
                Icon: GitIcon,
                tooltip: "Git",
            },
            {
                Icon: TrelloIcon,
                tooltip: "Trello",
            },
            {
                Icon: FigmaIcon,
                tooltip: "Figma",
            },
            {
                Icon: MySQLIcon,
                tooltip: "MySQL",
            },
        ],
        icon: BetterflyIcon,
        url: "https://betterfly.com",
    },
    {
        company: "Uber",
        location: "Santiago, Chile",
        position: "Frontend engineer",
        date: "September 2022 - December 2023",
        details: [
            {
                Icon: ReactIcon,
                tooltip: "React",
            },
            {
                Icon: FigmaIcon,
                tooltip: "Figma",
            },
            {
                Icon: GitIcon,
                tooltip: "Git",
            },
            {
                Icon: JiraIcon,
                tooltip: "Jira",
            },
        ],
        icon: UberIcon,
        url: "https://uber.com",
    },
    {
        company: "Cornershop by Uber",
        location: "Santiago, Chile",
        position: "Frontend engineer",
        date: "April 2021 - September 2022",
        details: [
            {
                Icon: ReactIcon,
                tooltip: "React",
            },
            {
                Icon: FigmaIcon,
                tooltip: "Figma",
            },
            {
                Icon: GitIcon,
                tooltip: "Git",
            },
            {
                Icon: JiraIcon,
                tooltip: "Jira",
            },
        ],
        icon: CornershopIcon,
    },
    {
        company: "Trust Technologies",
        location: "Valparaíso, Chile",
        position: "Fullstack developer",
        date: "May 2020 - January 2021",
        details: [
            {
                Icon: PhpIcon,
                tooltip: "PHP",
            },
            {
                Icon: RubyIcon,
                tooltip: "Ruby",
            },
            {
                Icon: LaravelIcon,
                tooltip: "Laravel",
            },
            {
                Icon: DockerIcon,
                tooltip: "Docker",
            },
            {
                Icon: PostgresIcon,
                tooltip: "Postgres",
            },
            {
                Icon: GitIcon,
                tooltip: "Git",
            },
            {
                Icon: JiraIcon,
                tooltip: "Jira",
            },
        ],
        icon: CompanyDefaultIcon,
        url: "https://www.trust.lat/",
    },
    {
        company: "Jumpitt Labs",
        location: "Valparaíso, Chile",
        position: "Fullstack developer",
        date: "June 2019 - May 2020",
        details: [
            {
                Icon: PhpIcon,
                tooltip: "PHP",
            },
            {
                Icon: LaravelIcon,
                tooltip: "Laravel",
            },
            {
                Icon: DockerIcon,
                tooltip: "Docker",
            },
            {
                Icon: PostgresIcon,
                tooltip: "Postgres",
            },
            {
                Icon: GitIcon,
                tooltip: "Git",
            },
            {
                Icon: JiraIcon,
                tooltip: "Jira",
            },
        ],
        icon: CompanyDefaultIcon,
    },
    {
        company: "SIGMA Telecom",
        location: "Concón, Chile",
        position: "Systems engineer",
        date: "April 2019 - May 2019",
        details: [
            {
                Icon: JavaIcon,
                tooltip: "Java",
            },
            {
                Icon: SpringIcon,
                tooltip: "Spring",
            },
            {
                Icon: MariaDBIcon,
                tooltip: "MariaDB",
            },
            {
                Icon: GitIcon,
                tooltip: "Git",
            },
        ],
        icon: CompanyDefaultIcon,
    },
    {
        company: "TECED Spa",
        location: "Villa alemana, Chile",
        position: "Web developer",
        date: "November 2018 - April 2019",
        details: [
            {
                Icon: PhpIcon,
                tooltip: "PHP",
            },
            {
                Icon: ZendIcon,
                tooltip: "Zend",
            },
            {
                Icon: MySQLIcon,
                tooltip: "MySQL",
            },
            {
                Icon: GitIcon,
                tooltip: "Git",
            },
        ],
        icon: CompanyDefaultIcon,
    },
    {
        company: "Nearway Spa",
        location: "Viña del mar, Chile",
        position: "Operations Agent",
        details: [
            {
                Icon: MySQLIcon,
                tooltip: "MySQL",
            },
            {
                Icon: PowerBIIcon,
                tooltip: "PowerBI",
            },
        ],
        date: "August 2018 - November 2018",
        icon: CompanyDefaultIcon,
        url: "https://www.nearway.com/",
    },
    {
        company: "Adnet Consulting",
        location: "Santiago, Chile",
        position: "Web developer",
        date: "May 2017 - July 2018",
        details: [
            {
                Icon: CSharpIcon,
                tooltip: "C#",
            },
            {
                Icon: DotNetCoreIcon,
                tooltip: ".NET Core",
            },
            {
                Icon: AngularIcon,
                tooltip: "Angular",
            },
            {
                Icon: MySQLIcon,
                tooltip: "MySQL",
            },
            {
                Icon: OracleIcon,
                tooltip: "Oracle",
            },
            {
                Icon: BitBucketIcon,
                tooltip: "BitBucket",
            },
        ],
        // "Web development with C# - .NET Core, Angular 4, Mysql, Oracle and version control with BitBucket.",
        icon: CompanyDefaultIcon,
        url: "https://www.adnet.cl/",
    },
];
---

<ol class="relative border-e border-black mt-2 mr-8">
    <div class="absolute top-0 right-0 w-4 h-4 bg-black rounded-full -me-2"></div>
    {
        EXPERIENCE.map((experience) => (
            <TimelineItem
                company={experience.company}
                location={experience.location}
                position={experience.position}
                details={experience.details}
                date={experience.date}
                url={experience.url}
            >
                <experience.icon slot="icon" class="size-8 text-black" />
            </TimelineItem>
        ))
    }
    <div class="absolute bottom-0 right-0 w-6 h-1 rounded-3xl bg-black -me-3"></div>
</ol>
